<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860872797752-a4j2q09k65a60ih85ovbn6b0mjo1udll.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860872797752-a4j2q09k65a60ih85ovbn6b0mjo1udll</string>
	<key>API_KEY</key>
	<string>AIzaSyDvgAXd7J8L_j86HciFg7Q90LCg1MMsLlw</string>
	<key>GCM_SENDER_ID</key>
	<string>860872797752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.momasa.app</string>
	<key>PROJECT_ID</key>
	<string>momasa-id</string>
	<key>STORAGE_BUCKET</key>
	<string>momasa-id.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860872797752:ios:a4360645469e43642180cd</string>
</dict>
</plist>